<%- include('../_partial/_header.ejs') %>
    <h1>Teste Good Browser Games</h1>
    <!-- INICIO SCROLL HORIZONTAL  -->
    <h5 class="mt-5 white_label">perfil</h5>
    <div class="container-fluid styled_h_scroll">
        <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div class="col-3">
                    <div class="card card-block card-1"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-2"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-3"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-4"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-5"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block card-6"></div>
                </div>
        </div>
    </div>
    <h5 class="mt-5 white_label">JOGOS RECOMENDADOS</h5>
    <div class="container-fluid styled_h_scroll">
        <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block"></div>
                </div>
                <div class="col-3">
                    <div class="card card-block "></div>
                </div>
        </div>
    </div>
    <h5 class="mt-5 white_label">TODOS OS JOGOS</h5>
    <div class="container-fluid ">
            <div class="row flex-row mt-4 pb-4 pt-2">
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block"></div>
                    </div>
                    <div class="col-3 mb-4">
                        <div class="card card-block "></div>
                    </div>
            </div>
        </div>
        <a class="btn btn-primary" style="background-color: #3b5998;" href="/admin/dashboard" role="button">
            <p>Admin Dashboard, clique aqui</p>
          </a>
    </div>
<%- include('../_partial/_footer.ejs') %>